<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{#if title}}{{title}}{{else}}Inicio{{/if}}</title>
  </head>
  <header class="header">
    <img src="../images/contables.png" style="width: 150px;" alt="">
    <div class="container-a">
      <a href="">Inicio</a>
      <a href="">Servicios</a>
      <a href="">Contacto</a>
    </div>
  </header>
  {{!-- enable = "dark-mode" --}}
  <body>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>
